.main-background {
    background-image: url('http://zasshi.mx/public/images/backgrounds/optimized/caterpillar7-min.jpg');
    background-size: cover;
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.card-location{
    background-image: url('../images/location.png');
}
.current_module {
    background-color: rgba(11, 11, 11, 0.07);
}
.column_3{
    top: 0;
    vertical-align: top;
    width: 31.33%;
    display: inline-block;
}
.sub-menus,.dishes{
    display: block;
    width: 100%;
}
md-grid-tile{
    background-color: #deabab;
}
.dishes{
    padding-left: 2px;
}
.options{
    position: relative;
    display: inline-block;
    width: 100%;
}
.options span{
    position: absolute;
    right: 0;
}
md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style {
    height: auto;
    max-height: 50px;
    min-height: 20px;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q5v7ps');
  src:  url('fonts/icomoon.eot?q5v7ps#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q5v7ps') format('truetype'),
    url('fonts/icomoon.woff?q5v7ps') format('woff'),
    url('fonts/icomoon.svg?q5v7ps#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
  content: "\e9a0";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bubble:before {
  content: "\e96b";
    color: #a2a0a0;
}
.icon-user:before {
  content: "\e971";
    color: #a50505;
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
    color: #ffed00;
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-home3,.icon-mail3,.icon-phone,.icon-location{
    color: #797979 !important;
    font-size: 19px;
}
.icon-star-full,.icon-user,.icon-bubble,.icon-coin-dollar,.icon-spoon-knife{
    font-size: 19px;   
}

.icon-margin-rigth {
    margin-right: 1em;
}

.icon-small-margin-rigth {
    margin-right: 0.5em;
}

.icon-button-text {
    margin-right: 6px;
}
