<div id="sectionabout" ng-controller="aboutController">
    <md-content class="md-padding">
        <form name="frmAbout" ng-show="show == true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar contenido</h3>
            <md-input-container  class="md-block">
                <label>Título</label>
                <input name="title" ng-model="frmData.title" required>
            </md-input-container>
            <md-input-container  class="md-block">
                <label>Descripción</label>
                <textarea ng-model="frmData.description" name="description" columns="1" rows="5"></textarea>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-click="save()">
                    <md-icon>save</md-icon>Guardar
                </md-button>
                <md-button class="md-raised" ng-click="show=false">
                    <md-icon>close</md-icon>Cancelar
                </md-button>
            </div>
        </form>
    </md-content>
    <div layout="row" layout-align="end center" ng-hide="show">
        <div flex>
            <span class="md-subhead">Páginas</span>
            <md-button ng-click="paginate.prev()" class="md-icon-button" ng-show="response.prev_page_url">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-click="paginate.to(page)" class="md-icon-button" ng-repeat="page in range(1, response.last_page)" ng-class="{ 'md-accent': page == response.current_page }">
                {{page}}
            </md-button>
            <md-button ng-click="paginate.next()" class="md-icon-button" ng-show="response.next_page_url">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised md-accent" ng-hide="show == true" ng-click="new()">
            <md-icon>add</md-icon>Nuevo elemento
        </md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show">
        <h3 align="center">Lista de Contenido</h3>
        <md-card ng-repeat="record in records" layout="row">
            <div class="card-decorator"></div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{record.title}}</span>
                    <span class="md-subhead"><md-icon>reorder</md-icon>{{record.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="column" layout-align="top center">
              <md-button ng-click="getData(record)" class="md-icon-button">
                    <md-tooltip md-direction="top">Editar</md-tooltip>
                    <md-icon>mode_edit</md-icon>
              </md-button>
              <md-button ng-click="disabled(record)" class="md-icon-button">
                    <md-tooltip md-direction="top">Eliminar</md-tooltip>
                    <md-icon>delete</md-icon>
              </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
