<div id="sectionabout" ng-controller="aboutController">
    <md-content class="md-padding">
        <form name="frmAbout" ng-show="show == true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar contenido</h3>
            <md-input-container  class="md-block">
                <label>Título</label>
                <input name="title" ng-model="frmData.title" required>
            </md-input-container>
            <md-input-container  class="md-block">
                <label>Descripción</label>
                <textarea ng-model="frmData.description" name="description" columns="1" rows="5"></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            <md-button class="md-raised" ng-click="show=false">Cancelar</md-button>
        </form>
    </md-content>

    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show == true">
        <h3 align="center">Lista de Contenido</h3>
        <md-card ng-repeat="record in records" layout="row">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{record.title}}</span>
                    <span class="md-subhead">{{record.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="column" layout-align="top center">
              <md-button ng-click="getData(record)" class="md-icon-button">
                    <md-icon>mode_edit</md-icon>
              </md-button>
              <!-- <md-button ng-click="disabled(record)" class="md-icon-button">
                    <md-icon>delete</md-icon>
              </md-button> -->
            </md-card-actions>
        </md-card>
    </md-content>
</div>
