<div id="contact" ng-controller="contactController">
    <md-content class="md-padding">
        <form name="frmContact" ng-show="show==true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar Contacto</h3>
            <md-input-container class="md-block">
                <label class="md-required">Dirección</label>
                <div
                    angular-google-maps-geocoder placeid="{{ my_place_id }}"
                    output="address_data"
                    placeholder="Placeholder goes here..."
                    min-length="5"
                    wait-ms="500"
                ></div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Teléfono</label>
                <input name="telephone" type="text" ng-model="frmData.telephone" required pattern="[0-9]+">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Correo</label>
                <input name="email" type="email" ng-model="frmData.email" required>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-click="save()">
                    <md-icon>save</md-icon>Guardar
                </md-button>
                <md-button class="md-raised" ng-click="show=false">
                    <md-icon>close</md-icon>Cancelar
                </md-button>
            </div>
        </form>
    </md-content>
    <div layout="row" layout-align="end center" ng-hide="show">
        <div flex>
            <span class="md-subhead">Páginas</span>
            <md-button ng-click="paginate.prev()" class="md-icon-button" ng-show="response.prev_page_url">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-click="paginate.to(page)" class="md-icon-button" ng-repeat="page in range(1, response.last_page)" ng-class="{ 'md-accent': page == response.current_page }">
                {{page}}
            </md-button>
            <md-button ng-click="paginate.next()" class="md-icon-button" ng-show="response.next_page_url">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised md-accent" ng-hide="show == true" ng-click="new()">
            <md-icon>add</md-icon>Nuevo Contacto
        </md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show == true">
        <h3 align="center">Lista de contactos</h3>
        <md-card ng-repeat="record in records" layout="row">
            <div class="card-decorator"></div>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Contacto</span>
                <span class="md-subhead">
                    <md-icon class="icon-home3" style="color:#000;" aria-label="Add"></md-icon>{{record.address}}</span>
                <span class="md-subhead">
                    <md-icon class="icon-phone" style="color:#000;" aria-label="Add"></md-icon>{{record.telephone}}</span>
                <span class="md-subhead">
                    <md-icon class="icon-mail3" style="color:#000;" aria-label="Add"></md-icon>{{record.email}}</span>
                <span class="md-subhead">
                    <md-icon class="icon-location" style="color:#000;" aria-label="Add"></md-icon>{{record.lat}},{{record.long}}
                </span>
              </md-card-title-text>
              <md-card-title-media>
                  <span class="md-headline">Ubicación</span>
                  <div class="md-media-lg card-media">
                      <img ng-src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=icon:http://zasshi.mx/public/images/icon-mark.png%7C{{record.lat}},{{record.long}}&key=AIzaSyA0rWIe6whIh0Ktzu3W6srvDRCrkOimnlc">
                  </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="column" layout-align="top center">
                <md-button ng-click="getData(record)" class="md-icon-button">
                      <md-tooltip md-direction="top">Editar</md-tooltip>
                      <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button ng-click="disabled(record)" class="md-icon-button">
                      <md-tooltip md-direction="top">Eliminar</md-tooltip>
                      <md-icon>delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
