<div id="dishes" ng-controller="dishesController">
    <md-content ng-show="show==true" class="md-padding">
        <form name="frmDishes" action="" method="POST" onsubmit="" novalidate>
            <md-input-container class="md-block">
                <label>Platillo</label>
                <input name="name" ng-model="frmData.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Descripción</label>
                <textarea name="description" ng-model="frmData.description" columns="1" rows="3" required></textarea>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Precio</label>
                <input type="number" min="1" max="999" name="price" ng-model="frmData.price" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Submenú</label>
                <md-select name="myModel" ng-model="sub_menu_id" required>
                    <md-option ng-repeat="submenu in submenus" ng-value="submenu.id">{{submenu.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            <md-button class="md-raised" ng-click="show = false">Cancelar</md-button>
        </form>
    </md-content>
    <div layout="row" layout-align="end center">
        <div flex>
            <md-button ng-click="paginate.prev()" class="md-icon-button" ng-show="response.prev_page_url">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-click="paginate.to(page)" class="md-icon-button" ng-repeat="page in range(1, response.last_page)" ng-class="{ 'md-accent': page == response.current_page }">
                {{page}}
            </md-button>
            <md-button ng-click="paginate.next()" class="md-icon-button" ng-show="response.next_page_url">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised md-accent" ng-hide="show == true" ng-click="new()">
            <md-icon>add</md-icon>Nuevo platillo
        </md-button>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>Menu</label>
            <md-select ng-model="selected_menu" ng-change="filterMenu()">
                <md-option ng-value="0">Todos</md-option>
                <md-option  ng-repeat="menu in menus" ng-value="menu.id">{{menu.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Submenu</label>
            <md-select ng-model="selected_submenu" ng-disabled="!selected_menu" ng-change="filterSubmenu()">
                <md-option ng-value="0">Todos</md-option>
                <md-option  ng-repeat="submenu in getMenu(selected_menu).submenus_only" ng-value="submenu.id">{{submenu.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding" ng-show="show==false">
        <h3>Lista de Platillos</h3>
        <md-content>
            <md-card  ng-repeat="record in records" layout="row">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead">
                            <md-icon class="icon-spoon-knife" aria-label="Add"></md-icon>{{record.name}}</span>
                        <span class="md-subhead">
                            <md-icon class="icon-bubble" aria-label="Add"></md-icon>{{record.description}}</span>
                        <span class="md-subhead">
                            <md-icon class="icon-coin-dollar" aria-label="Add"></md-icon>{{record.price}}</span>
                        <span class="md-subhead">
                            <md-icon >assignment</md-icon>Submenu: {{record.submenu.name}}</span>
                        <span class="md-subhead">
                            <md-icon >list</md-icon>Menu: {{getMenu(record.submenu.section_menu_id).name}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="column" layout-align="top center">
                        <md-button ng-click="getData(record)" class="md-icon-button">
                              <md-icon>mode_edit</md-icon>
                        </md-button>
                        <md-button ng-click="disabled(record)" class="md-icon-button">
                              <md-icon>delete</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card-title>
            </md-card>
        </md-content>
    </md-content>
</div>

                    <!--<span class="icon-spoon-knife"></span><span class="dishes">{{dish.name}}</span>
                    <span class="icon-bubble"></span><span class="dishes">{{dish.description}}</span>
                    <span class="icon-coin-dollar"></span><span class="dishes">{{dish.price}}</span>
                    <div layout="row" layout-align="end center">
                      <md-button ng-click="getData(submenu)">Editar</md-button>
                      <md-button ng-click="disabled(submenu)">Desactivar</md-button>
                    </div>
                    -->
