<div id="sectionMenu" ng-controller="menuController">
    <md-content class="md-padding">
        <form name="frmMenu" ng-show="show == true" action="" method="POST" onsubmit="return false;" novalidate>
            <md-input-container class="md-block">
                <label>Menu</label>
                <input name="name" ng-model="frmData.name" required>
            </md-input-container><br>
            <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            <md-button class="md-raised" ng-click="show = false">Cancelar</md-button>
        </form>
    </md-content>
    <md-button class="md-raised" ng-hide="show == true" ng-click="new()">Nuevo Menú</md-button>
    <md-content class="md-padding">
        <md-card ng-repeat="record in records">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{record.name}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="getData(record)">Editar</md-button>
              <md-button ng-click="disabled(record)">Desactivar</md-button>
            </md-card-actions>
      </md-card>
    </md-content>
</div>