<div id="submenu" ng-controller="submenuController">
    <md-content class="md-padding">
        <form name="frmSubMenu" ng-show="show==true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar SubMenú</h3>
            <md-input-container class="md-block">
                <label>Submenú</label>
                <input name="name" ng-model="frmData.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Menús</label>
                <md-select name="myModel" ng-model="frmData.section_menu_id" required>
                    <md-option>Selecciona el menu</md-option>
                    <md-option ng-repeat="menu in records" ng-value="menu.id">{{menu.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            <md-button class="md-raised" ng-click="show = false">Cancelar</md-button>
        </form>
    </md-content>
    <div layout="row" layout-align="end center">
        <div flex>
            <md-button ng-click="paginate.prev()" class="md-icon-button" ng-show="response.prev_page_url">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-click="paginate.to(page)" class="md-icon-button" ng-repeat="page in range(1, response.last_page)" ng-class="{ 'md-accent': page == response.current_page }">
                {{page}}
            </md-button>
            <md-button ng-click="paginate.next()" class="md-icon-button" ng-show="response.next_page_url">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised md-accent" ng-hide="show == true" ng-click="new()">
            <md-icon>add</md-icon>Nuevo submenú
        </md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show == true">
        <h3 align="center">Lista de Sub Menús</h3>
        <md-content ng-repeat="menu in records">
            <md-toolbar class="md-theme-light md-block" >
                    <h2 class="md-toolbar-tools"><span>{{menu.name}}</span></h2>
            </md-toolbar>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="submenu in menu.submenus">
                <span class="sub-menus">{{submenu.name}}</span>
                <md-card-actions layout="row" layout-align="top center">
                    <md-button ng-click="getData(submenu)" class="md-icon-button">
                          <md-icon>mode_edit</md-icon>
                    </md-button>
                    <md-button ng-click="disabled(record)" class="md-icon-button">
                          <md-icon>delete</md-icon>
                    </md-button>
                </md-card-actions>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</div>
