<div id="submenu" ng-controller="submenuController">
    <md-content class="md-padding">
        <form name="frmSubMenu" ng-show="show==true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar SubMenú</h3>
            <md-input-container class="md-block">
                <label>Submenú</label>
                <input name="name" ng-model="frmData.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Menús</label>
                <md-select name="myModel" ng-model="frmData.section_menu_id" required>
                    <md-option>Selecciona el menu</md-option>
                    <md-option ng-repeat="menu in records" ng-value="menu.id">{{menu.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            <md-button class="md-raised" ng-click="show = false">Cancelar</md-button>
        </form>
    </md-content>
    <md-button class="md-raised" ng-hide="show == true" ng-click="new()">Nuevo Submenú</md-button>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show == true">
        <h3 align="center">Lista de SubMenús</h3>
        <md-content ng-repeat="menu in records">
            <md-toolbar class="md-theme-light md-block" >
                    <h2 class="md-toolbar-tools"><span>{{menu.name}}</span></h2>
            </md-toolbar>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="submenu in menu.submenus">
                <span class="sub-menus">{{submenu.name}}</span>
                <div layout="row" layout-align="end center">
                  <md-button ng-click="getData(submenu)">Editar</md-button>
                  <md-button ng-click="disabled(submenu)">Desactivar</md-button>
                </div>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>  
        </md-content>
    </md-content>
</div>
