<div id="sectiontestimonials" ng-controller="testimonialController">
    <md-content  class="md-padding">
        <form name="frmTestimonial" ng-show="show == true" action="" method="POST" onsubmit="return false;" novalidate>
            <h3 align="center">Agregar testimonio</h3>
            <md-input-container  class="md-block">
                <label>Usuario</label>
                <input name="user" ng-model="frmData.user" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Comentario</label>
                <textarea ng-model="frmData.comment" name="comment" columns="1" rows="5"></textarea>
            </md-input-container>
            <md-input-container>
                <label>Calificación</label>
                <input class ="md-block" type="number" name="rank" ng-model="frmData.rank" min="1" max="5">
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-click="save()">
                    <md-icon>save</md-icon>Guardar
                </md-button>
                <md-button class="md-raised" ng-click="show=false">
                    <md-icon>close</md-icon>Cancelar
                </md-button>
            </div>
        </form>
    </md-content>
    <div layout="row" layout-align="end center" ng-hide="show">
        <div flex>
            <span class="md-subhead">Páginas</span>
            <md-button ng-click="paginate.prev()" class="md-icon-button" ng-show="response.prev_page_url">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-click="paginate.to(page)" class="md-icon-button" ng-repeat="page in range(1, response.last_page)" ng-class="{ 'md-accent': page == response.current_page }">
                {{page}}
            </md-button>
            <md-button ng-click="paginate.next()" class="md-icon-button" ng-show="response.next_page_url">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised md-accent" ng-hide="show == true" ng-click="new()">
            <md-icon>add</md-icon>Nuevo testimonio
        </md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <md-content class="md-padding"  ng-hide="show == true">
        <h3 align="center">Lista de Testimonios</h3>
        <div layout="row" class="card-container">
            <md-card ng-repeat="record in records" layout="row" flex=30>
                <div class="card-decorator"></div>
                <md-card-title  layout="row">
                  <md-card-title-text>
                    <span class="md-headline">
                        <md-icon class="icon-user" style="color:#000;" aria-label="Add"></md-icon>{{record.user}}</span>
                    <span class="md-subhead">
                        <md-icon class="icon-bubble" style="color:#000;" aria-label="Add"></md-icon>{{record.comment}}</span>
                    <span class="md-subhead">
                        <md-icon class="icon-star-full" style="color:#000;" aria-label="Add"></md-icon>{{record.rank}}</span>
                  </md-card-title-text>
                  <!--<md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                    <div class="rank" >
                        <ul><li ng-repeat="star in stars">{{record.rank}}</li></ul>
                    </div>
                  </md-card-title-media>-->
                </md-card-title>
                <md-card-actions layout="column" layout-align="top center">
                    <md-button ng-click="getData(record)" class="md-icon-button">
                          <md-tooltip md-direction="top">Editar</md-tooltip>
                          <md-icon>mode_edit</md-icon>
                    </md-button>
                    <md-button ng-click="disabled(record)" class="md-icon-button">
                          <md-tooltip md-direction="top">Eliminar</md-tooltip>
                          <md-icon>delete</md-icon>
                    </md-button>
                </md-card-actions>
          </md-card>
        </div>
    </md-content>
</div>
