@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,800|Passion+One:400,700|Raleway');
@font-face {
    font-family: 'Lithos Pro';
    src: url(../fonts/LithosPro-Regular.otf);
}
@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.otf);
}
body{
    background-color: #ffffff;
    margin: 0;
}











